In [2]:
import pandas as pd

In [3]:
df = pd.read_stata('http://global.oup.com/uk/orc/busecon/economics/dougherty5e/student/datasets/oecd/stata/oecd.dta')

In [4]:
df

        country  WAGES     PRICES   GDP  EMPLOY  MONEY1     MONEY2   UNEMPLOY
0    Ausstralia   4.41   3.750000  3.04    1.68    9.10  10.980000   8.680000
1       Austria   4.15   2.710000  2.55    0.65    5.37   7.370000   5.480000
2       Belgium   3.99   2.370000  2.16    0.34    5.87        NaN   8.490000
3        Canada   3.76   2.830000  2.03    1.17    6.13   8.510000   9.510000
4       Denmark   3.78   2.610000  2.02    0.02    3.21   4.510000   7.680000
5       Finland   5.65   3.110000  1.78   -1.06    5.97        NaN  10.440000
6        France   3.55   2.400000  2.08    0.28    5.19   4.050000  10.840000
7       Germany   4.08   2.780000  2.71    0.08    9.08   7.590000   6.860000
8        Greece  14.18  13.090000  2.08    0.87   14.46  14.140000   8.840000
9       Iceland    NaN   8.420000  1.54   -0.13   10.73  13.640000   3.070000
10      Ireland   4.50   2.510000  6.40    2.16     NaN        NaN  13.810000
11        Italy   6.16   4.860000  1.68   -0.30    4.75   4.170000  10.460000
12        Japan   2.28   1.470000  2.81    1.06    5.56   4.490000   2.650000
13        Korea  12.83   6.130000  7.73    2.57     NaN  17.590000   2.400000
14   Luxembourg    NaN   2.530000  5.64    3.02     NaN   7.220000   2.390000
15       Mexico    NaN  30.590000  2.67    4.56     NaN  32.529999   3.710000
16  Netherlands   2.59   2.220000  2.86    1.88    6.31   6.610000   6.410000
17       Norway   4.31   3.120000  2.98    0.36    5.98   4.660000   5.070000
18           NZ   3.39   3.220000  2.01    0.91    8.16   7.800000   7.780000
19     Portugal  10.58   7.710000  2.79    0.33   12.35  12.080000   5.730000
20        Spain   6.37   4.980000  2.60    0.89   10.49   9.250000  20.040001
21       Sweden   6.23   4.710000  1.17   -0.94    6.09        NaN   6.050000
22  Switzerland   3.02   2.770000  1.15    0.79    4.27   5.100000   2.850000
23       Turkey    NaN  75.980003  4.18    2.02     NaN        NaN   7.600000
24           UK   5.45   5.480000  1.97    0.66    9.23   9.510000   8.700000
25          USA   3.70   3.510000  2.46    1.53    3.73   3.880000   5.960000

In [5]:
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [6]:
mod = smf.ols('EMPLOY ~ GDP', data=df)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 EMPLOY   R-squared:                       0.369
Model:                            OLS   Adj. R-squared:                  0.343
Method:                 Least Squares   F-statistic:                     14.06
Date:                Thu, 25 Feb 2021   Prob (F-statistic):           0.000988
Time:                        17:35:53   Log-Likelihood:                -35.849
No. Observations:                  26   AIC:                             75.70
Df Residuals:                      24   BIC:                             78.21
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.3750      0.410     -0.914      0.370      -1.222       0.472
GDP            0.4809      0.128      3.750      0.001       0.216       0.746
==============================================================================
Omnibus:                       24.891   Durbin-Watson:                   1.537
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.920
Skew:                           1.868   Prob(JB):                     3.93e-11
Kurtosis:                       8.503   Cond. No.                         7.21
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.